*.pyc
*.pyo
*~
.build
.DS_Store
.env
.vfenv
.venv
.subl
.Python
.foreman
.coverage
*.floo
*.flooignore
*.sass-cache*
*.bower-cache*
*.vagrant*
*.sublime-*
*.sqlite3*
*.build
.ropeproject
.ipynb_checkpoints